<div class="row mt-5 d-flex flex-column">
  <div class="col-md-12 m-auto">
    <div class="card text-center">
      <div class="card-header bg-info bg-opacity-25">KMI Skaiciuokle</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="">Jusu svoris:</label>
          <input type="number" class="form-control" [(ngModel)]="svoris" placeholder="Iveskite duomenis">
        </div>
        <div class="mb-3">
        <label>Jusu ugis:</label>
        <input type="number" class="form-control" [(ngModel)]="ugis" placeholder="Iveskite duomenis">
      </div>
        <button class="btn btn-info" [hidden]="ugis==null || svoris==null" (click)="skaiciuoti()">Skaiciuoti</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-2 m-auto" [hidden]="kmi==null">
    <div class="card text-center">
      <div class="card-header bg-warning bg-opacity-25" >KMI Rezultatas</div>
      <div class="card-body ">
        <div *ngIf="kmi!=null">{{ kmi }}</div>

      </div>
    </div>
  </div>
</div>







