<div class="row mt-5 d-flex flex-column">
  <div class="col-md-12 m-auto">
    <div class="card text-center">
      <div class="card-header bg-dark bg-opacity-25 fw-bold">Vandens rezervuaro skaiciuokle</div>
      <div class="card-body">

        <div class="mb-3">

          <label>Rezervuaro talpa (l):</label>
          <input type="number" class="form-control" [(ngModel)]="talpa" placeholder="Iveskite duomenis">
        </div>
        <div class="mb-3">
          <label>Rezervuaro prisipildymo greitis (l/val):</label>
          <input type="number" class="form-control" [(ngModel)]="greitis" placeholder="Iveskite duomenis">
        </div>
        <div class="mb-3">
          <label>Rezervuaro prisipildymo laikas (val):</label>
          <input type="number" class="form-control" [(ngModel)]="laikas" placeholder="Iveskite duomenis">
        </div>
        <button class="btn btn-info" [disabled]="talpa==null || greitis==null || laikas==null"
                (click)="skaiciuoti()">Skaiciuoti
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="rezultatas!=0" class="col-md-12 mt-5 m-auto">
    <div class="card text-center">
      <div class="card-header text-primary fw-bold bg-black bg-opacity-10"
           [hidden]="talpa==null || greitis==null || laikas==null">Rezultatas
      </div>
      <div class="card-body ">
        <div *ngIf="rezultatas!=null" class="fw-bold">Rezervuaro uzpildymas: {{ rezultatas }} %
          ({{rezultatas2}} l)
          <!--        progres bar-->
          <div class="progress mt-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
                 [style.width]="rezultatas+'%'" aria-label="Animated striped example"
                 style="width: 0">
              <span *ngIf="rezultatas<80" class="justify-content-center">{{rezultatas}} %</span>
              <span *ngIf="rezultatas>=80 && rezultatas<100" class="justify-content-center bg-warning">{{rezultatas}} %
              </span>
              <span *ngIf="rezultatas>=100" class="justify-content-center bg-danger ">{{rezultatas}} %</span>
            </div>
          </div>
          <div *ngIf="rezultatas>=80 && rezultatas<100" class="alert alert-warning mt-3" role="alert">
            REZERVUARAS PRIPILDYTAS KRITISKAI !!!
          </div>
          <div *ngIf="rezultatas>=100" class="alert alert-danger mt-3" role="alert">
            REZERVUARAS PERPILDYTAS !!!
          </div>
        </div>


      </div>
    </div>
    <div *ngIf="rezultatas!=null" class="my-3 text-center">
      <a href="" class="btn btn-outline-info text-dark">Skaiciuoti is naujo</a>
    </div>

  </div>

</div>







